*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body,html{
    height:100vh; 
}
body{display: flex;
justify-content: center;
align-items: center;
}
form{
    border: none;
        display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 2rem;
  min-height:70%;
  width:min(50%,650px);
  background-color:rgba(137, 43, 226, 0.124);
  border-radius: 2rem;
}
form>div.buttons{
    align-self: center;
}
form button{
    width:60%;
padding:1rem;
background-color: rgba(3, 3, 3, 0.672);
border:none;
border-radius: 1rem;
color: rgb(255, 255, 255);
}
form button:hover{
    background-color:rgba(3, 3, 3, 0.39);
    color:black;
    cursor: pointer;
    font-weight: 800;
}
form>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.4rem;
}
form>div>div{
    width:100%;
}
form label{
    align-self: flex-start;
    font-weight: 600;
}
form label,form input,form textarea,select{
    display: block;
   width: 100%;
}

form input,form textarea,input,select{
/* height:1.4rem; */
font-size: 1rem;
padding:calc(5px + .2rem);


border-radius: .6rem;
border-color: transparent;
background-color:  rgba(0, 24, 0, 0.083);
   
}
input:focus,input:hover,label:has(+input:hover),textarea:focus,textarea:hover{
    border-color:  rgb(0, 24, 0);
    outline:none;
    border-color: purple;
    
}
form>div{
    position: relative;
}
input.invalid{
    border:1px solid red;
}
input.valid{
     border:2px solid green;
}
input+.error,input+div:has(.error){
 opacity: 0;
 align-self: flex-start;
 display: none;
}

.error.active,.active:has(span.error){
   opacity: 1;
    color:red;
    font-size: .8rem;
    display: block;
    padding:.5rem;
}
.error.match{color:green;}
.error{display: block;}
